# Virtual Environments
.venv
.vscode

# Developer related stuff
tests
dev
**/__pycache__/
*.py[cod]
.pytest_cache

# Distribution / Packaging
*.egg-info/

# Some basic video formats
*.mp4
*.mov
*.avi
*.mkv